USE [master]
GO
/****** Object:  Database [PhoneStore]    Script Date: 8/6/2024 2:27:47 PM ******/
CREATE DATABASE [PhoneStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhoneStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhoneStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhoneStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhoneStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhoneStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhoneStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductInfoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](255) NULL,
	[Phone] [varchar](255) NULL,
	[DateOfBirth] [datetime2](6) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[AccountID] [int] NULL,
	[AgencyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image_Request]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image_Request](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageURL] [varchar](255) NULL,
	[Image_Name] [varchar](255) NULL,
	[RequestID] [int] NULL,
 CONSTRAINT [PK_Image_Request] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[InvoiceType] [int] NULL,
	[InvoiceDate] [date] NULL,
	[Incurred] [decimal](10, 2) NULL,
	[IncurredDescription] [nvarchar](2000) NULL,
	[EmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItem](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductInfoID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](255) NULL,
	[ImageData] [varchar](255) NULL,
	[Comment] [nvarchar](255) NULL,
	[WarrantyPeriod] [datetime2](6) NULL,
	[CategoryID] [int] NULL,
	[Rating] [float] NULL,
	[brandID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_info]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_info](
	[productInfoID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[ProductInfoName] [nvarchar](255) NULL,
	[Price] [numeric](38, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NOT NULL,
	[ImportDate] [datetime2](6) NULL,
	[QuantitySold] [int] NULL,
	[Ram] [int] NULL,
	[Capacity] [int] NULL,
	[Color] [varchar](255) NULL,
	[productInfoStatus] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[productInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_ProductStatus]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_ProductStatus](
	[ProductInfo_ProductStatusID] [int] IDENTITY(1,1) NOT NULL,
	[ProductInfoID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[Reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductInfo_ProductStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductInfoID] [int] NULL,
	[ImageURL] [varchar](255) NULL,
	[ProductID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RequestType] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[EmployeeID] [int] NULL,
	[Answer] [nvarchar](255) NULL,
	[Date_created] [datetime] NULL,
	[Date_Answer] [datetime] NULL,
	[Title] [varchar](255) NULL,
	[InvoiceID] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/6/2024 2:27:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[role_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Username], [Password], [RoleID], [IsActive]) VALUES (1, N'admin123', N'$2a$10$DEQgOcuJBZBtTczV9f.mXeeoL1N0pAeIpCtjVOyNxej7a6JUE3iHy', 1, 1)
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [RoleID], [IsActive]) VALUES (2, N'user123', N'$2a$10$DEQgOcuJBZBtTczV9f.mXeeoL1N0pAeIpCtjVOyNxej7a6JUE3iHy', 2, 1)
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [RoleID], [IsActive]) VALUES (3, N'user222', N'$2a$10$DEQgOcuJBZBtTczV9f.mXeeoL1N0pAeIpCtjVOyNxej7a6JUE3iHy', 2, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandID], [Name]) VALUES (1, N'Iphone123')
INSERT [dbo].[Brand] ([BrandID], [Name]) VALUES (2, N'Iphone')
INSERT [dbo].[Brand] ([BrandID], [Name]) VALUES (3, N'SamSung')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [Amount], [CustomerID], [ProductInfoID]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Cart] ([CartID], [Amount], [CustomerID], [ProductInfoID]) VALUES (2, 1, 2, 2)
INSERT [dbo].[Cart] ([CartID], [Amount], [CustomerID], [ProductInfoID]) VALUES (3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [categoryName]) VALUES (1, N'Iphone12345656')
INSERT [dbo].[Category] ([CategoryID], [categoryName]) VALUES (2, N'SamSung3')
INSERT [dbo].[Category] ([CategoryID], [categoryName]) VALUES (3, N'Xiaomi')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [AccountID], [CustomerName], [Age], [Gender], [Phone], [DateOfBirth], [Address], [Email]) VALUES (1, 2, N'John Doe', 35, N'Male', N'123-456-7890', CAST(N'1985-03-15T00:00:00.0000000' AS DateTime2), N'123 Main St, City', NULL)
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [CustomerName], [Age], [Gender], [Phone], [DateOfBirth], [Address], [Email]) VALUES (2, 3, N'Alice Smith', 28, N'Female', N'234-567-8901', CAST(N'1992-07-10T00:00:00.0000000' AS DateTime2), N'456 Elm St, Town', NULL)
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [CustomerName], [Age], [Gender], [Phone], [DateOfBirth], [Address], [Email]) VALUES (3, 4, N'Bob Johnson', 42, N'Male', N'345-678-9012', CAST(N'1978-11-25T00:00:00.0000000' AS DateTime2), N'789 Oak St, Village', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Phone], [Email], [FullName], [DOB], [Gender], [Address], [AccountID], [AgencyID]) VALUES (1, N'555-555-5555', N'employee1@example.com', N'Michael Smith', CAST(N'1980-05-20' AS Date), N'Male', N'555 Cedar St, Country', 7, 1)
INSERT [dbo].[Employee] ([EmployeeID], [Phone], [Email], [FullName], [DOB], [Gender], [Address], [AccountID], [AgencyID]) VALUES (2, N'666-666-6666', N'employee2@example.com', N'Sarah Johnson', CAST(N'1985-10-15' AS Date), N'Female', N'666 Birch St, Town', 8, 2)
INSERT [dbo].[Employee] ([EmployeeID], [Phone], [Email], [FullName], [DOB], [Gender], [Address], [AccountID], [AgencyID]) VALUES (3, N'777-777-7777', N'employee3@example.com', N'David Wilson', CAST(N'1975-03-30' AS Date), N'Male', N'777 Oak St, City', 9, 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Image_Request] ON 

INSERT [dbo].[Image_Request] ([ImageID], [ImageURL], [Image_Name], [RequestID]) VALUES (1, N'3', N'4', NULL)
INSERT [dbo].[Image_Request] ([ImageID], [ImageURL], [Image_Name], [RequestID]) VALUES (2, N'/uploads/cbb2432a-339d-4f27-a135-8098151e851a.jpg', N'3.jpg', 9)
INSERT [dbo].[Image_Request] ([ImageID], [ImageURL], [Image_Name], [RequestID]) VALUES (3, N'/uploads/a8fcd924-9a13-4c80-8387-f4860b5b6f40.jpg', N'3.jpg', 10)
SET IDENTITY_INSERT [dbo].[Image_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceID], [CustomerID], [InvoiceType], [InvoiceDate], [Incurred], [IncurredDescription], [EmployeeID]) VALUES (1, 1, 1, CAST(N'2024-11-11' AS Date), CAST(1.00 AS Decimal(10, 2)), N'1', 1)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceItem] ON 

INSERT [dbo].[InvoiceItem] ([InvoiceItemID], [InvoiceID], [ProductInfoID], [Price], [Quantity], [Discount]) VALUES (1, 1, 1, CAST(10000.00 AS Decimal(10, 2)), 4, CAST(0.00 AS Numeric(5, 2)))
INSERT [dbo].[InvoiceItem] ([InvoiceItemID], [InvoiceID], [ProductInfoID], [Price], [Quantity], [Discount]) VALUES (4, 1, 2, CAST(1.00 AS Decimal(10, 2)), 1, CAST(0.00 AS Numeric(5, 2)))
INSERT [dbo].[InvoiceItem] ([InvoiceItemID], [InvoiceID], [ProductInfoID], [Price], [Quantity], [Discount]) VALUES (5, 1, 3, CAST(1.00 AS Decimal(10, 2)), 1, CAST(0.00 AS Numeric(5, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ImageData], [Comment], [WarrantyPeriod], [CategoryID], [Rating], [brandID]) VALUES (1, N'iPhone 12', N'image1.jpg', N'Top selling iPhone model', CAST(N'2023-05-05T00:00:00.0000000' AS DateTime2), 1, 4.5, NULL)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ImageData], [Comment], [WarrantyPeriod], [CategoryID], [Rating], [brandID]) VALUES (2, N'Samsung Galaxy Tab S7', N'image2.jpg', N'Powerful Android tablet', CAST(N'2024-03-10T00:00:00.0000000' AS DateTime2), 2, 4.2, NULL)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ImageData], [Comment], [WarrantyPeriod], [CategoryID], [Rating], [brandID]) VALUES (3, N'Wireless Earbuds', N'image3.jpg', N'High-quality sound', CAST(N'2023-07-15T00:00:00.0000000' AS DateTime2), 3, 4, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_info] ON 

INSERT [dbo].[product_info] ([productInfoID], [productID], [ProductInfoName], [Price], [Description], [Quantity], [ImportDate], [QuantitySold], [Ram], [Capacity], [Color], [productInfoStatus]) VALUES (1, 1, N'iPhone 12 Pro', CAST(999.99 AS Numeric(38, 2)), N'Flagship smartphone from Apple', 100, CAST(N'2021-01-20T00:00:00.0000000' AS DateTime2), 50, 8, 256, N'Blue', NULL)
INSERT [dbo].[product_info] ([productInfoID], [productID], [ProductInfoName], [Price], [Description], [Quantity], [ImportDate], [QuantitySold], [Ram], [Capacity], [Color], [productInfoStatus]) VALUES (2, 2, N'Samsung Galaxy Tab S7+', CAST(799.99 AS Numeric(38, 2)), N'Premium Android tablet with S Pen', 50, CAST(N'2021-02-15T00:00:00.0000000' AS DateTime2), 25, 8, 256, N'Black', NULL)
INSERT [dbo].[product_info] ([productInfoID], [productID], [ProductInfoName], [Price], [Description], [Quantity], [ImportDate], [QuantitySold], [Ram], [Capacity], [Color], [productInfoStatus]) VALUES (3, 3, N'Apple AirPods Pro', CAST(199.99 AS Numeric(38, 2)), N'Wireless earbuds with active noise cancellation', 200, CAST(N'2021-03-10T00:00:00.0000000' AS DateTime2), 100, 0, 0, N'White', NULL)
SET IDENTITY_INSERT [dbo].[product_info] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_ProductStatus] ON 

INSERT [dbo].[Product_ProductStatus] ([ProductInfo_ProductStatusID], [ProductInfoID], [StatusID], [Reason]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[Product_ProductStatus] ([ProductInfo_ProductStatusID], [ProductInfoID], [StatusID], [Reason]) VALUES (2, 2, 1, NULL)
INSERT [dbo].[Product_ProductStatus] ([ProductInfo_ProductStatusID], [ProductInfoID], [StatusID], [Reason]) VALUES (3, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[Product_ProductStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ImageID], [ProductInfoID], [ImageURL], [ProductID]) VALUES (1, 1, N'image1.jpg', 1)
INSERT [dbo].[ProductImage] ([ImageID], [ProductInfoID], [ImageURL], [ProductID]) VALUES (2, 2, N'tablet_image2.jpg', 2)
INSERT [dbo].[ProductImage] ([ImageID], [ProductInfoID], [ImageURL], [ProductID]) VALUES (3, 3, N'earbuds_image3.jpg', 3)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStatus] ON 

INSERT [dbo].[ProductStatus] ([StatusID], [StatusName]) VALUES (1, N'In Stock')
INSERT [dbo].[ProductStatus] ([StatusID], [StatusName]) VALUES (2, N'Out of Stock')
INSERT [dbo].[ProductStatus] ([StatusID], [StatusName]) VALUES (3, N'Discontinued')
SET IDENTITY_INSERT [dbo].[ProductStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([RequestID], [CustomerID], [RequestType], [Description], [EmployeeID], [Answer], [Date_created], [Date_Answer], [Title], [InvoiceID], [Status]) VALUES (5, 1, 1, N'1', NULL, NULL, CAST(N'2024-08-02T00:00:00.000' AS DateTime), NULL, N'1', 1, 1)
INSERT [dbo].[Request] ([RequestID], [CustomerID], [RequestType], [Description], [EmployeeID], [Answer], [Date_created], [Date_Answer], [Title], [InvoiceID], [Status]) VALUES (6, 1, 1, N'1', NULL, NULL, CAST(N'2024-08-02T00:00:00.000' AS DateTime), NULL, N'1', 1, 1)
INSERT [dbo].[Request] ([RequestID], [CustomerID], [RequestType], [Description], [EmployeeID], [Answer], [Date_created], [Date_Answer], [Title], [InvoiceID], [Status]) VALUES (7, 1, 1, N'1', NULL, NULL, CAST(N'2024-08-02T00:00:00.000' AS DateTime), NULL, N'1', 1, 1)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
INSERT [dbo].[Role] ([RoleID], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleID], [role_name]) VALUES (2, N'customer')
INSERT [dbo].[Role] ([RoleID], [role_name]) VALUES (3, N'employee')
GO
/****** Object:  Index [UK12080ci28ytixftor29e7ix5q]    Script Date: 8/6/2024 2:27:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK12080ci28ytixftor29e7ix5q] ON [dbo].[Customer]
(
	[AccountID] ASC
)
WHERE ([accountid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ProductInfoID])
REFERENCES [dbo].[product_info] ([productInfoID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Image_Request]  WITH CHECK ADD  CONSTRAINT [FK_Image_Request_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[Image_Request] CHECK CONSTRAINT [FK_Image_Request_Request]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK__Invoice__Custome__5AEE82B9] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK__Invoice__Custome__5AEE82B9]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Employee]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceIt__Invoi__5BE2A6F2] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK__InvoiceIt__Invoi__5BE2A6F2]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD FOREIGN KEY([ProductInfoID])
REFERENCES [dbo].[product_info] ([productInfoID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_brand] FOREIGN KEY([brandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_brand]
GO
ALTER TABLE [dbo].[product_info]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product_ProductStatus]  WITH CHECK ADD FOREIGN KEY([ProductInfoID])
REFERENCES [dbo].[product_info] ([productInfoID])
GO
ALTER TABLE [dbo].[Product_ProductStatus]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[ProductStatus] ([StatusID])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([ProductInfoID])
REFERENCES [dbo].[product_info] ([productInfoID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Customer1] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Customer1]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Employee]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Invoice]
GO
USE [master]
GO
