
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Font -->
</head>
<body>
<!-- Footer Section Begin -->
<footer class="footer spad" id="reset-button">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="/img/logo-2.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Phone Store tại 68 Phan Thanh - Tp. Đà Nẵng</li>
                        <li>HotLine: 1234567899</li>
                        <li>Email: phoneStore@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Về PhoneStore</h6>
                    <ul>
                        <li><a href="#">Giới thiệu Về chúng tôi</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Điều khoản PhoneStore</a></li>
                        <li><a href="#">Trung tâm bảo hành</a></li>
                        <li><a href="#">Chính hãng</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Trung tâm trợ giúp</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Trả hàng & Hoàn tiền</a></li>
                        <li><a href="#">Tra thông tin bảo hành</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                        <li><a href="#">Thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Đăng ký nhận tin khuyến mãi</h6>
                    <p>Nhận ngay voucher 10%</p>
                    <form action="#">
                        <label>
                            <input type="text" placeholder="Enter your mail">
                        </label>
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <h6 style="margin-bottom: 25px">Theo dõi chúng tôi trên</h6>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <h6 style="margin-bottom: 25px">Thanh toán</h6>
                    <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> PhoneStore. Tất cả các quyền được bảo lưu</p></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
</body>

</html>



