<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="Ogani Template" name="description">
    <meta content="Ogani, unica, creative, html" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/elegant-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/nice-select.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/css/slicknav.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img alt="" src="/img/logo.png"></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img alt="" src="/img/language.png">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>

<div th:include="~{menu :: header}"></div>


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!--            <label style="border: 1px solid black; border-radius: 5px; padding: 5px; width: 100%">-->
            <!--                <input type="radio"> chọn tất cả-->
            <!--                <button style="float: right; border-color:white ">-->
            <!--                    <i class="fas fa-trash"></i>-->
            <!--                </button>-->
            <!--            </label>-->
            <div class="shoping__cart__table">
                <table>
                    <thead>
                    <tr>
                        <th class="shoping__product">Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="productInfo: ${productInfo}">

                        <td>
                            <input type="checkbox" th:if="!${productInfo.getCart()[0].isSelected()}">
                            <input type="checkbox" th:if="${productInfo.getCart()[0].isSelected()}" checked>

                        </td>
                        <td class="shoping__cart__item">
                            <img alt=""
                                 style=" width: 100px;"
                                 th:src="@{/img/ProductImg/__${productInfo.getProductImages()[0].getImageURL()}__}">
                            <h5 th:text="${productInfo.getProductInfoName()}"></h5>
                        </td>
                        <td class="shoping__cart__price" th:data-price="${productInfo.getPrice()}">
                        </td>
                        <td class="shoping__cart__quantity">
                            <div class="quantity-control"
                                 style="width:100px;margin-left: 15% ; display: flex; justify-content: center; align-items: center; height: 100%;">
                                <button aria-label="Decrease" class="quantity-btn" onclick="decreaseQuantity(this)">-
                                </button>

                                <input class="quantity-input" onchange="changeQuantity(this.textContent)"
                                       th:data-id="${productInfo.getCart()[0].getCartId()}"
                                       th:value="${productInfo.getCart()[0].getQuantity()}"
                                       type="number" >
                                <button aria-label="Increase" class="quantity-btn" onclick="increaseQuantity(this)">+
                                </button>
                            </div>
                        </td>
                        <td class="shoping__cart__total">
                        </td>
                        <td class="shoping__cart__item__close">
                            <button  class="btn-danger" onclick="confirmDelete()" ><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="shoping__checkout">
                <h5>Cart Total</h5>

                <ul>
                    <li>Tổng tiền: <span id="total"></span></li>
                    <hr>
                    <li>Nhập mã khuyến mãi (nếu có):
                        <input id="coupon" placeholder="Enter your coupon code" type="text">
                    </li>
                    <li>Khuyến mãi: <span id="discount"></span></li>
                    <li>Phí vận chuyển:<span id="shipping"></span></li>
                    <hr>
                    <li>Thành tiền: <span id="final-total"></span></li>
                </ul>


                <a class="primary-btn" href="#">Thanh toán</a>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function confirmDelete() {
        var confirmed = confirm("Bạn có chắc chắn muốn xóa không?");
        if (confirmed) {
            alert("Đã xóa thành công!");
        } else {
            alert("Hủy bỏ thao tác xóa.");
        }
    }
    function getPrice() {
        const priceElements = document.querySelectorAll(".shoping__cart__price");
        priceElements.forEach(function (priceElement) {
            const priceValue = priceElement.getAttribute("data-price");
            const formattedPrice = formatPrice(priceValue);
            priceElement.textContent = formattedPrice;
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        getAllCart();
        getPrice();
    })

    function getAllCart() {
        // Lấy tất cả các hàng trong giỏ hàng
        const cartRows = document.querySelectorAll("tr");
        var totalInvoice = 0;
        var finalTotal = 0;
        cartRows.forEach(function (row) {
            const priceElement = row.querySelector(".shoping__cart__price");
            const quantityElement = row.querySelector(".quantity-input");
            const totalElement = row.querySelector(".shoping__cart__total");

            if (priceElement && quantityElement && totalElement) {

                const priceValue = parseFloat(priceElement.getAttribute("data-price"));
                const quantityValue = parseInt(quantityElement.value);
                console.log(priceValue);
                const totalPrice = priceValue * quantityValue;
                totalInvoice += totalPrice;

                // Định dạng tổng giá trị và hiển thị
                const formattedTotal = formatPriceToTal(totalPrice);
                totalElement.textContent = formattedTotal;
            }
        });
        finalTotal += totalInvoice;
        document.getElementById('total').textContent = formatPriceToTal(totalInvoice) + " VNĐ";
        document.getElementById('shipping').textContent = formatPriceToTal(30000) + " VNĐ";
        document.getElementById('discount').textContent = 0 + " VNĐ";
        document.getElementById('final-total').textContent = formatPriceToTal(finalTotal) + " VNĐ";
    }

    function decreaseQuantity(button) {
        var input = button.nextElementSibling;
        var currentValue = parseInt(input.value, 10);
        if (!isNaN(currentValue) && currentValue > 1) {
            input.value = currentValue - 1;
        }
        var cartId = input.getAttribute("data-id");
        getAllCart();
        getPrice();
        $.ajax({
            url: '/cart/changeQuantity/' + input.value +'/' + cartId,
            type: 'POST',
            processData: false,
            contentType: false,
        });
    }

    function increaseQuantity(button) {
        var input = button.previousElementSibling;
        var currentValue = parseInt(input.value, 10);
        if (!isNaN(currentValue)) {
            input.value = currentValue + 1;
        }
        var cartId = input.getAttribute("data-id");
        getAllCart();
        getPrice();
        $.ajax({
            url: '/cart/changeQuantity/' + input.value +'/' + cartId,
            type: 'POST',
            processData: false,
            contentType: false,
        });
    }

    // getAllCart ();
    // getPrice ();


    // getAllCart ();
    // getPrice ();

    function changeQuantity(val) {
        getAllCart();
        getPrice();
    }

    function formatPriceToTal(price) {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    function formatPrice(price) {
        let truncatedPrice = price.toString().slice(0, -3);
        return truncatedPrice.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

</script>
<style>
    /* Ẩn spinner trên Chrome, Safari, Edge, và Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Ẩn spinner trên Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/a1f1039e75.js"></script>

</body>

</html>