<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <style>
        .readonly {
            background-color: #f2f2f2; /* Màu nền xám để chỉnh sửa */
        }
    </style>
</head>
<body>
<h2>Customer Details</h2>

<form th:object="${customer}" method="post" th:action="@{/Customer/UpdateProfile}">
    <input th:field="*{account}" type="text" th:value="${customer.account}" hidden/>
<input th:field="*{customerId}" type="text" th:value="${customer.getCustomerId()}" hidden/>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" th:field="*{phone}" readonly/><br/>
    <p style="color: red" th:errors="*{phone}"></p>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:value="${customer.email}" th:field="*{email}" readonly/><br/>
    <p style="color: red" th:errors="*{email}"></p>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${customer.name}" th:field="*{name}" readonly/><br/>
    <p style="color: red" th:errors="*{name}"></p>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" th:value="${customer.gender}" th:field="*{gender}" readonly/><br/>
    <p style="color: red" th:errors="*{gender}"></p>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" th:value="${#dates.format(customer.dateOfBirth, 'yyyy-MM-dd')}" readonly/><br/>
    <p style="color: red" th:errors="*{dateOfBirth}"></p>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" th:value="${customer.address}" readonly/><br/>
    <p style="color: red" th:errors="*{address}"></p>

    <button type="submit" id="saveButton" style="display: none;">Save</button>
</form>
<button type="button" onclick="toggleEdit()">Edit</button>
<div th:if="${not #strings.isEmpty(successFullMessage)}" class="alert alert-success">
    <p th:text="${successFullMessage}"></p>
</div>
<script th:inline="javascript">
    /* JavaScript để toggle readonly và hiển thị nút Save */
    function toggleEdit() {
        var inputs = document.getElementsByTagName('input');
        var saveButton = document.getElementById('saveButton');
        var editButton = document.querySelector('button[type="button"]');

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].readOnly = !inputs[i].readOnly;
            if (inputs[i].classList.contains('readonly')) {
                inputs[i].classList.remove('readonly');
            } else {
                inputs[i].classList.add('readonly');
            }
        }

        // Toggle hiển thị của nút Save và nút Edit
        saveButton.style.display = saveButton.style.display === 'none' ? 'inline-block' : 'none';
        editButton.style.display = editButton.style.display === 'none' ? 'inline-block' : 'none';
    }
</script>

</body>
</html>
